h1 {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
    text-align: center;
    font-size: 100px;
    color: Khaki;
}
h1, h2, h3, p {
    font-family: Helvetica;
}
#brush {
    color:white;
    background-color: MediumSpringGreen;
}

.item h2 {

    font-size: 32px;
}
#frame {
    color:white;
    background-color: LightCoral;
}
.item h2 {

    font-size: 32px;
}
#paint {
    color:white;
    background-color: SkyBlue;
}

.item h2 {

    font-size: 32px;
}
.price {
    color: Blue;
    font-weight: bold;
}
